.section-title {
	h2 {
		position: relative;
		margin-top: 0;
		margin-bottom: 40px;
		text-align: center;
		font-weight: 800;
		color: $blue-color;
		text-transform: uppercase;
    	font-size: 1.5rem;
		span {
			padding: 0 30px;
			position: relative;
			z-index: 1;
			&:before,
			&:after {
				content: "";
				display: block;
				height: 1px;
				position: absolute;
				top: 50%;
				width: 160px;
				background-color: $title-border;
				margin: auto;
				@media(max-width: 576px) {
					width: 50px;
				}
			}
			&:before {
				left: 100%;
			}
			&:after {
				right: 100%;
			}
		}
	}
}
.advertiser {
	background-color: $light-blue;
	.advertiser-row {
		.play-games {
			img {
				max-width: 100%;
			}
		}
		.game-text {
			.cpm-video {
				font-weight: bold;
				color: $grey-color;
				margin-bottom: 5px;
				padding-left: 15px;
			}
			.games-discovery {
				padding-left: 35px;
				margin-bottom: 0;
				color: $black;
			}
			.appsflyer {
				img {
					display: inline-block;
					max-width: 85px;
					vertical-align: -5px;
					margin-left: 10px;
				}
			}
		}
		.advertiser-bottom-row {
			padding-top: 70px;
			font-size: 0.9rem;
			img {
				max-width: 50px;
			}
			.home {
				float: left;
				width: 135px;
				@media(max-width: 576px) {
					width: 110px;
				}
				p {
					margin-top: 22px;
					font-weight: bold;
					color: $light-gray;
					line-height: normal;
				}
			}
			.home-list {
				display: block;
				margin-left: 140px;
				@media(max-width: 576px) {
					margin-left: 110px;
				}
				p {
					line-height: 16px;
					color: $light-gray;
					@media(max-width: 576px) {
						font-size: 12px;
					}
				}
				ul {
					padding-left: 18px;
					font-weight: 600;
					li span {
						color: $light-gray;
					}
				}
			}
			.app-list {
				width: 50%;
				float: left;
			}
			@media(max-width: 991px) {
				padding-top: 0;
				& > div {
					margin-top: 30px;
				}
			}
		}
	}
}
/* List */
.advertiser ul {
	margin-bottom: 0;
	padding-left: 35px;
	position: relative;
	li {
		margin-bottom: 2px;
		span {
			color: $black;
		}
	}
}
.game-cats {

}
.cats-col {
	float: left;
	width: 50%;
	font-weight: 600;
	p {
		margin-bottom: 0.4rem;
	}
}