.advertiser {
	.title {
		margin-top: 40px;
		h2 {
			position: relative;
			text-align: center;
		    font-weight: bold;
		    color: $blue-color;
			&:before {
				background: $title-border;
				content: "";
				display: block;
				height: 1px;
				position: absolute;
				top: 50%;
				width: 70%;
			    right: 0;
			    left: 0;
			    margin: auto;
			}
			span {
				background: $white;
				padding: 0 30px;
				position: relative;
				z-index: 1;
			}
		}
	}
	.play-games {
		background: url(../img/gaming-clipart-transparent-background-7.png);
		background-size: cover;
	}
}