body {
	font-family: 'Work Sans', sans-serif;
	color: $black;
}
.topbar {
	background-color: $black;
	color: $white;
   	font-size: 12px;
   	padding: 2px 0;
	a {
		color: $blue-color;
		text-decoration: none;
	}
}
.top-bar-col {
	display: inline-block;
	margin-left: 20px;
	font-weight: 600;
	vertical-align: middle;
}
.phn-ico {
	font-size: 8px;
	vertical-align: middle;
	margin-top: -3px;
}
.email-col {
	a {
		display: inline-block;
		position: relative;
	    vertical-align: text-bottom;
	    margin-left: 8px;
		&:after {
			position: absolute;
			content: "";
			left: 0;
			right: 0;
			height: 1px;
			background-color: $blue-color;
			bottom: 2px;
		}
	}
	i {
		font-size: 14px;
	}
}
a.phn-call {
	color: #fff;
	&:hover {
		opacity: 1;
	}
}
.twi-ico {
	display: block;
	padding-top: 3px;
	font-size: 16px;
}
.navbar-light {
	background-color: #fff;
}
.navbar-nav {
	height: 100%;
	align-items: center;
	.nav-item {
		height: 100%;
		.nav-link {
			height: 100%;
			font-weight: 700;
			color: $black;
			padding: 1.7rem 0.8rem;
			text-transform: uppercase;
			margin-left: 15px;
			transition: 0.2s ease;
			&:hover {
				color: $blue-color;
			}
		}
		&.active a {
			background-color: $blue-color;
			color: #fff !important;
		}
	}
}
.navbar-brand {
	img {
		height: 65px;
	}
}
.logo-title {
	margin-left: 20px;
	font-weight: 700;
	font-size: 1.15rem;
	span {
		font-family: Impact;
		font-weight: 500;
		font-size: 1.2rem;
	}
	@media(max-width: 576px) {
		display: none;
	}
}
@media(max-width: 991px) {
	.navbar-light {
		.navbar-toggler {
			position: absolute;
			right: 0;
			top: 20px;
			padding-right: 15px;
			border: 0;
			color: #000;
			&:focus {
				border: 0;
				outline: 0;
			}
		}
		.navbar-nav {
			margin-top: 30px;
			.nav-item {
				width: 100%;
				a.nav-link {
					padding-top: 0.7rem;
					padding-bottom: 0.7rem;
					padding-left: 0;
					margin-left: 0;
				}
				&.active a {
					color: $blue-color !important;
					background-color: transparent;
				}
			}
		}
	}
}