body {
  font-family: 'Work Sans', sans-serif;
  color: #000; }

.topbar {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  padding: 5px 0; }
  .topbar a {
    color: #00bce4;
    text-decoration: none; }

.top-bar-col {
  display: inline-block;
  margin-left: 20px;
  font-weight: 600;
  vertical-align: middle; }

.phn-ico {
  font-size: 8px;
  vertical-align: middle;
  margin-top: -3px; }

.email-col a {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  margin-left: 8px; }
  .email-col a:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 1px;
    background-color: #00bce4;
    bottom: 2px; }
.email-col i {
  font-size: 14px; }

.twi-ico {
  font-size: 16px; }

.navbar-light {
  background-color: #fff; }

.navbar-nav {
  height: 100%;
  align-items: center; }
  .navbar-nav .nav-item {
    height: 100%; }
    .navbar-nav .nav-item .nav-link {
      height: 100%;
      font-weight: 600;
      color: #000;
      padding: 1.7rem 0.8rem;
      text-transform: uppercase;
      margin-left: 15px; }
    .navbar-nav .nav-item.active a {
      background-color: #00bce4;
      color: #fff !important; }

.navbar-brand img {
  height: 65px; }

.logo-title {
  margin-left: 20px;
  font-weight: 700; }
  .logo-title span {
    font-family: Impact;
    font-weight: 600; }

.hero-slide {
  position: relative;
  background-image: url("../img/hero-slide.jpg");
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px; }
  .hero-slide:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(41, 50, 69, 0.76); }

.slide-img {
  max-width: 100%; }

.section-container {
  padding-top: 50px;
  padding-bottom: 50px; }

.form-section {
  position: relative;
  background-image: url("../img/form-banner.jpg");
  background-size: cover; }
  .form-section:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(41, 50, 69, 0.84); }

.form-inner-wrap {
  position: relative;
  max-width: 700px;
  padding-bottom: 35px;
  border: 8px solid rgba(0, 190, 226, 0.25);
  border-radius: 4px; }
  .form-inner-wrap .section-title h2 span {
    background-color: transparent; }
  .form-inner-wrap form {
    max-width: 300px;
    margin: auto; }

.form-group .form-control {
  background-color: #fff;
  border-radius: 25px;
  border: 0;
  padding: 0.575rem .75rem; }
  .form-group .form-control:focus {
    -webkit-box-shadow: inset 0 0 0px 9999px white; }
.form-group .submit-btn {
  background-color: #00bce4;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600; }

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white; }

.form-bottom {
  margin-top: 25px; }
  .form-bottom span {
    display: block;
    text-align: center; }
  .form-bottom a {
    color: #00bce4;
    text-decoration: none;
    font-weight: 500; }

.checkbox-col {
  position: relative;
  color: #fff;
  cursor: pointer;
  padding-left: 25px;
  margin-left: 30px;
  margin-bottom: 20px; }
  .checkbox-col input[type=checkbox] {
    position: absolute;
    z-index: 1;
    height: 18px;
    width: 18px;
    left: 0;
    top: 2px;
    opacity: 0; }
  .checkbox-col input[type=checkbox] + span {
    display: block;
    position: absolute;
    height: 18px;
    width: 18px;
    left: 0;
    top: 2px;
    background-image: url("../img/uncheck-box.png");
    background-size: 100%;
    background-repeat: no-repeat; }
  .checkbox-col input[type=checkbox]:checked + span {
    background-image: url("../img/check-box.png"); }
  .checkbox-col input[type=checkbox]:not(checked) + span {
    background-image: url("../img/uncheck-box.png"); }

.section-title {
  padding: 40px 0; }
  .section-title h2 {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #00bce4;
    text-transform: uppercase;
    font-size: 1.5rem; }
    .section-title h2 span {
      padding: 0 30px;
      position: relative;
      z-index: 1; }
      .section-title h2 span:before {
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        width: 200px;
        left: 100%;
        background-color: #d9d9d9;
        margin: auto; }
      .section-title h2 span:after {
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        background-color: #d9d9d9;
        margin: auto;
        width: 200px;
        right: 100%; }

.advertiser {
  background-color: #f5fbff; }
  .advertiser .advertiser-row {
    padding-top: 30px; }
    .advertiser .advertiser-row .play-games img {
      max-width: 100%; }
    .advertiser .advertiser-row .game-text .cpm-video {
      font-weight: bold;
      color: #666971;
      margin-bottom: 5px;
      padding-left: 15px; }
    .advertiser .advertiser-row .game-text .games-discovery {
      padding-left: 35px;
      margin-bottom: 0;
      color: #000; }
    .advertiser .advertiser-row .game-text .appsflyer img {
      display: inline-block;
      max-width: 85px;
      vertical-align: -5px;
      margin-left: 10px; }
    .advertiser .advertiser-row .advertiser-bottom-row {
      padding-top: 70px; }
      .advertiser .advertiser-row .advertiser-bottom-row img {
        max-width: 50px; }
      .advertiser .advertiser-row .advertiser-bottom-row .home {
        width: 125px;
        float: left; }
        .advertiser .advertiser-row .advertiser-bottom-row .home p {
          margin-top: 15px;
          font-weight: bold;
          color: #666971; }
      .advertiser .advertiser-row .advertiser-bottom-row .home-list {
        padding-left: 50px;
        display: block;
        margin-left: 125px;
        padding-right: 60px; }
        .advertiser .advertiser-row .advertiser-bottom-row .home-list p {
          font-size: 13px;
          margin-bottom: 10px;
          line-height: 16px;
          color: #666971; }
      .advertiser .advertiser-row .advertiser-bottom-row .app-list {
        width: 50%;
        float: left; }

/* List */
.advertiser ul {
  margin-bottom: 0;
  padding-left: 35px;
  position: relative; }
  .advertiser ul.home-list-space {
    padding-left: 22px; }
    .advertiser ul.home-list-space li {
      color: #666971;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px; }
  .advertiser ul li {
    list-style-type: none;
    font-size: 15px;
    color: #000;
    text-align: justify;
    font-weight: normal;
    margin-top: 5px; }
    .advertiser ul li:first-child {
      margin-top: 3px; }
    .advertiser ul li:before {
      background: none repeat scroll 0 0 #00bce4;
      border-radius: 50%;
      content: "";
      height: 7px;
      margin-left: -20px;
      margin-top: 8px;
      position: absolute;
      width: 7px; }

.pricing-section {
  background: url(../img/pricing-banner.png) no-repeat;
  background-size: cover;
  /*padding-bottom: 380px;*/ }
  .pricing-section .card {
    padding: 10px; }

.games-banner img {
  max-width: 100%; }

footer {
  background-color: #000;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px; }

.footer-logo {
  height: 90px; }

.footer-contact > div {
  margin-bottom: 2px; }
  .footer-contact > div:last-child {
    margin-bottom: 0; }
.footer-contact i {
  font-size: 12px;
  float: left;
  margin-top: 7px; }
.footer-contact .cont-info {
  display: inline-block;
  margin-left: 12px; }
.footer-contact a {
  color: #00bce4;
  text-decoration: none;
  margin-left: 0; }
.footer-contact .email-col i {
  font-size: 14px; }

.contact-desc h5 {
  font-size: 1.12rem;
  font-weight: 600; }
.contact-desc p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: normal; }
